html {
  font-size: 16px;
  font-family: monospace;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  padding: 5rem;
}

header, section:not(:last-child) {
  margin-bottom: 4rem;
}

ul {
  padding-left: 1rem;
  list-style-position: inside;
}

li {
  padding: 0.5rem 0;
}

a:link {
  color: black;
}

a:active {
  color: black;
  opacity: 0.5;
}

a:visited {
  color: black;
}

.uppercase {
  text-transform: uppercase;
}
