{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <main>
    <header>
      <h1 class="uppercase">Just Color</h1>
      <h3>Just the color, and nothing else</h3>
    </header>
    <section>
      <p class="uppercase">Hex</p>
      <ul>
        <li>
          <a href="/000">justcolor.io/000</a>
        </li>
        <li>
          <a href="/34b044">justcolor.io/34b044</a>
        </li>
      </ul>
    </section>
    <section>
      <p class="uppercase">Name</p>
      <ul>
        <li>
          <a href="/blue">justcolor.io/blue</a>
        </li>
      </ul>
    </section>
  </main>
{% endblock %}
