{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <main>
    <div class="container">
      {% include 'header.html' %}
      <section>
        <p>Add a query to the URL to look for a specific color.</p>
        <p>Below are examples for all supported formats.</p>
      </section>
      <section>
        <p class="uppercase">Hex</p>
        <ul>
          <li>
            <a href="/000">{{ APP_BASE_URL }}/000</a>
          </li>
          <li>
            <a href="/34b044">{{ APP_BASE_URL }}/34b044</a>
          </li>
        </ul>
      </section>
      <section>
        <p class="uppercase">Name</p>
        <ul>
          <li>
            <a href="/blue">{{ APP_BASE_URL }}/blue</a>
          </li>
        </ul>
      </section>
    </div>
  </main>
{% endblock %}
